#product_form_4285603643469 .bold_options_loaded {
  position: absolute;
  transform: translateY(150%);
}
    #product_form_4285603643469 .ProductForm__Variants{
    display: none;
}
#product_form_4285603643469 .bold_option_total>div{
    background: #fff;
    text-align: center;
    margin-top: -57px;
    padding: 0px 0px 0px 0px;
    /*display: none; */
}
bold_option_element, .bold_option_element input, .bold_option_element select, .bold_option_element textarea {
    float: left;
    width: 100%;
    height: auto;
      }
#product_form_4285603643469 .ProductForm__QuantitySelector {
    margin-top: 161px;
    margin-bottom: 24px;
}
   #product_form_4285603643469  .bold_error_message {
    display: none;
    /* padding-left: 9px; */
    /* float: left; */
    /* width: 100%; */
    padding-bottom: -15px;
    /* transform: translateY(9%); */
    position: fixed;
}
